<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ball_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{457,462}</string>
                <key>spriteSourceSize</key>
                <string>{457,462}</string>
                <key>textureRect</key>
                <string>{{0,0},{457,462}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ball_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{457,462}</string>
                <key>spriteSourceSize</key>
                <string>{457,462}</string>
                <key>textureRect</key>
                <string>{{457,0},{457,462}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ball_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{457,462}</string>
                <key>spriteSourceSize</key>
                <string>{457,462}</string>
                <key>textureRect</key>
                <string>{{914,0},{457,462}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ball_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{457,462}</string>
                <key>spriteSourceSize</key>
                <string>{457,462}</string>
                <key>textureRect</key>
                <string>{{1371,0},{457,462}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ball_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{457,462}</string>
                <key>spriteSourceSize</key>
                <string>{457,462}</string>
                <key>textureRect</key>
                <string>{{0,462},{457,462}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ball_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{457,462}</string>
                <key>spriteSourceSize</key>
                <string>{457,462}</string>
                <key>textureRect</key>
                <string>{{457,462},{457,462}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ball_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{457,462}</string>
                <key>spriteSourceSize</key>
                <string>{457,462}</string>
                <key>textureRect</key>
                <string>{{914,462},{457,462}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ball_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{457,462}</string>
                <key>spriteSourceSize</key>
                <string>{457,462}</string>
                <key>textureRect</key>
                <string>{{1371,462},{457,462}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ball_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{457,462}</string>
                <key>spriteSourceSize</key>
                <string>{457,462}</string>
                <key>textureRect</key>
                <string>{{0,924},{457,462}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ball_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{457,462}</string>
                <key>spriteSourceSize</key>
                <string>{457,462}</string>
                <key>textureRect</key>
                <string>{{457,924},{457,462}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ball_normal.png</string>
            <key>size</key>
            <string>{1828,1386}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83ec97b53f1e6a818b2172b5ab20258d:f9fafb71f3544043b69ba1e2c9c5db44:23d9a48b40ad66958f2a31bf86c57ef0$</string>
            <key>textureFileName</key>
            <string>ball_normal.png</string>
        </dict>
    </dict>
</plist>
