<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>explosion.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,97}</string>
                <key>spriteSourceSize</key>
                <string>{82,97}</string>
                <key>textureRect</key>
                <string>{{118,0},{82,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,88}</string>
                <key>spriteSourceSize</key>
                <string>{75,88}</string>
                <key>textureRect</key>
                <string>{{43,0},{75,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,13}</string>
                <key>spriteSourceSize</key>
                <string>{113,13}</string>
                <key>textureRect</key>
                <string>{{0,97},{113,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>play_normal.png</string>
            <key>size</key>
            <string>{200,110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62ef0cd94d0e1644bc200c8e8257f913:053e295a56a917f89aeaef8b0edb1ced:047558ba363303105958c9ac9e88cac3$</string>
            <key>textureFileName</key>
            <string>play_normal.png</string>
        </dict>
    </dict>
</plist>
