<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>red_octopus_animation000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{67,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,66}}</string>
        <key>sourceSize</key>
        <string>{67,66}</string>
      </dict>
      <key>red_octopus_animation008.png</key>
      <dict>
        <key>frame</key>
        <string>{{69,0},{65,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,68}}</string>
        <key>sourceSize</key>
        <string>{65,68}</string>
      </dict>
      <key>red_octopus_animation013.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,0},{63,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,70}}</string>
        <key>sourceSize</key>
        <string>{63,70}</string>
      </dict>
      <key>red_octopus_animation012.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,68},{63,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,69}}</string>
        <key>sourceSize</key>
        <string>{63,69}</string>
      </dict>
      <key>red_octopus_animation011.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,70},{60,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,70}}</string>
        <key>sourceSize</key>
        <string>{60,70}</string>
      </dict>
      <key>red_octopus_animation016.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,72},{57,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,73}}</string>
        <key>sourceSize</key>
        <string>{57,73}</string>
      </dict>
      <key>red_octopus_animation015.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,72},{57,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,72}}</string>
        <key>sourceSize</key>
        <string>{57,72}</string>
      </dict>
      <key>red_octopus_animation014.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,139},{57,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,72}}</string>
        <key>sourceSize</key>
        <string>{57,72}</string>
      </dict>
      <key>red_octopus_animation002.png</key>
      <dict>
        <key>frame</key>
        <string>{{59,142},{58,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,70}}</string>
        <key>sourceSize</key>
        <string>{58,70}</string>
      </dict>
      <key>red_octopus_animation001.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,146},{58,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,70}}</string>
        <key>sourceSize</key>
        <string>{58,70}</string>
      </dict>
      <key>red_octopus_animation010.png</key>
      <dict>
        <key>frame</key>
        <string>{{119,147},{49,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,72}}</string>
        <key>sourceSize</key>
        <string>{49,72}</string>
      </dict>
      <key>red_octopus_animation018.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,213},{49,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,72}}</string>
        <key>sourceSize</key>
        <string>{49,72}</string>
      </dict>
      <key>red_octopus_animation007.png</key>
      <dict>
        <key>frame</key>
        <string>{{51,214},{47,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,72}}</string>
        <key>sourceSize</key>
        <string>{47,72}</string>
      </dict>
      <key>red_octopus_animation017.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,218},{47,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,72}}</string>
        <key>sourceSize</key>
        <string>{47,72}</string>
      </dict>
      <key>red_octopus_animation009.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,221},{47,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,72}}</string>
        <key>sourceSize</key>
        <string>{47,72}</string>
      </dict>
      <key>red_octopus_animation003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,287},{45,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,72}}</string>
        <key>sourceSize</key>
        <string>{45,72}</string>
      </dict>
      <key>red_octopus_animation004.png</key>
      <dict>
        <key>frame</key>
        <string>{{47,288},{45,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,72}}</string>
        <key>sourceSize</key>
        <string>{45,72}</string>
      </dict>
      <key>red_octopus_animation005.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,292},{45,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,72}}</string>
        <key>sourceSize</key>
        <string>{45,72}</string>
      </dict>
      <key>red_octopus_animation006.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,292},{45,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,72}}</string>
        <key>sourceSize</key>
        <string>{45,72}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>red_octopus_animation.png</string>
      <key>size</key>
      <string>{244,364}</string>
      <key>textureFileName</key>
      <string>red_octopus_animation.png</string>
    </dict>
  </dict>
</plist>